.flexbox-container {
  
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 100vh;
  width: 100vw;
  grid-template-rows: repeat(8, 1fr);
  grid-auto-flow: column;

}

.flexbox-item-pre {

  grid-column: 1;

}

.flexbox-item-1 {
  
  position: relative;
  background-color:aqua;
  grid-row: 1 / -1;
  grid-column: span 2;
  text-align: center;
  z-index: 2;

}

.flexbox-item-2 {
  
  position: relative;
  background-color: #F5F5F5;
  grid-row: span 3;
  grid-column: span 2;

}

.flexbox-item-3 {
  
  position: relative;
  background-color: white;
  grid-row: span 2;
  grid-column: span 2;

}

.flexbox-item-4 {
  
  background-color: #F5F5F5;
  grid-row: span 3;
  grid-column: span 2;

}

img {

  height: 100%;
  width: 100%;

}

.caption {

  position: absolute;
  bottom: 18px;
  right: 40%;
  color: white;

}

.not_real {

  position: absolute;
  top: 55%;
  left: 5%;
  right: 20%;

}

.odin_logo {

  position: absolute;
  grid-row: span 1;
  grid-column: 2;
  background: rgba(0, 0, 0, 0.5);
  top: 17.5%;
  z-index: 3;
  width: 100%;
  height: 20%;

}

.odin_logo img {

  object-fit: contain;

}

.not_real p {

  font-weight: bold;
  font-size: 29px;

}

.affirm {

  position: absolute;
  left: 5%;
  font-weight: bold;
  font-size: 29px;

}

form {

  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  left: 5%;
  top: 5%;
  row-gap: 20px;

}

input {

  border-radius: 6px;
  width: 130%;
  height: 65%;

}

.row {

  display: flex;
  flex-wrap: wrap;
  column-gap: 150px;
  width: 100%;
  /*height: 35%;*/

}


.f_name, .l_name, .my_email, .my_number {

  height: 100%;


}

.my_password, .myc_password {

  height: 100%;

}


label {

  display: block;
  text-align: left; 

}
